.hero-image1 {
    background-size: cover;
    background-position: center center;
    background-image: ;
}

.hero-image2 {
    background-size: cover;
    background-position: center center;
    background-image:;
}

.hero-image3 {
    background-size: cover;
    background-position: center center;
    background-image: ;
}