body {
    background-color: #120c1d;
    color: white;
}

.fixed-top {
    background-color: rgba(0,0,0,.7);
}

.primeNavButton {
    background-color: rgb(0, 43, 231);
    padding: 10px 24px;
    font-weight: 700;
    line-height: 110%;
    border-radius: 8px;
    border-color: rgb(0, 43, 231);
    font-size: .875rem;
    transition: none 0s ease 0s;
    text-transform: uppercase;
}

.secondaryNavButton {
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    border-radius: 8px;
    padding: 10px 24px;
    transition: none 0s ease 0s;
    text-transform: uppercase;
}

.heroImages {
    min-height: 35vw;
    text-transform: uppercase;
}

.heroImages p, heroImages h3 {
    line-height: 1.1;
    margin: 0;
    text-shadow: 0 0 0.6em #000;
}

.heroImages p {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: .1em;
}

.heroImages h3 {
    font-weight: 700;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .1em;
}

.hero-image1 {
    background-size: cover;
    background-position: center center;
    background-image: url("./assets/LP Hero Images/GOT BG Image.avif");
}

.hero-image2 {
    background-size: cover;
    background-position: center center;
    background-image: url("./assets/LP Hero Images/Barbie BG Image.avif");;
}

.hero-image3 {
    background-size: cover;
    background-position: center center;
    background-image: url("assets/LP Hero Images/BasketBall BG Image.avif");;
}

.hero-title-logo {
    max-width: 200px;
}

.HeroSection {
    position: relative;
    padding-top: 56px;
}

.text-center {
    z-index: 1;
}
.HeroSection::after {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, .7) 25%, rgba(0, 0, 0, 0) 40%);
    bottom: 0;
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 0;
}

.primaryCTA {
    background-color: black;
}

.primaryCTA p {
    font-size: 1.70em;
}

.ctaButton {
    align-self: center;
    font-size: 1rem;
    z-index: 1;
}

#ctaButton2 {
    padding: 13px 24px;
}

.barSplit {
    background-color: black;
}

.barSplitContainer {
    position: relative;
}

.barSplitContainer::after {
    position: absolute;
    bottom: calc(100% - 14vw);
    height: 20vw;
    content: "";
    width: 100%;
    background-size: cover;
    background-image: url(/assets/img.svg);
    background-color: black;
}

.genre h2 {
    z-index: 1;
    font-size: 2.1875rem;
    line-height: 1.35;
}

.genreContainer {
    max-width: 82ch;
}

.genre-characters-Container {
    overflow-x: auto;
}

.genre-characters {
    position: relative;
    z-index: 1;
    min-width: 2040px;
}

.coming-soon {
    background-color: white;
    border-radius: 2px;
    box-shadow: 0px 5px 8px rgb(2, 43, 231, 0.7);
    color: rgb(2, 43, 231);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 0px 10px;
    position: absolute;
    text-transform: uppercase;
    top: 4px;
}

.genre-characters1 {
    background-image: url(/assets/GenreCharacters/1.avif);
    background-position: top center;
    background-size: cover;
    height: 30vw;
    border-left: 1px solid #022be7;
    border-right: 1px solid #022be7;
    box-sizing: border-box;
    margin-bottom: 1rem;
    min-height: 360px;
    min-width: 170px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.genre-characters2 {
    background-image: url(/assets/GenreCharacters/2.avif);
    background-position: top center;
    background-size: cover;
    height: 30vw;
    border-left: 1px solid #022be7;
    border-right: 1px solid #022be7;
    box-sizing: border-box;
    margin-bottom: 1rem;
    min-height: 360px;
    min-width: 170px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.genre-characters3 {
    background-image: url(/assets/GenreCharacters/3.avif);
    background-position: top center;
    background-size: cover;
    height: 30vw;
    border-left: 1px solid #022be7;
    border-right: 1px solid #022be7;
    box-sizing: border-box;
    margin-bottom: 1rem;
    min-height: 360px;
    min-width: 170px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.genre-characters4 {
    background-image: url(/assets/GenreCharacters/4.avif);
    background-position: top center;
    background-size: cover;
    height: 30vw;
    border-left: 1px solid #022be7;
    border-right: 1px solid #022be7;
    box-sizing: border-box;
    margin-bottom: 1rem;
    min-height: 360px;
    min-width: 170px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.genre-characters5 {
    background-image: url(/assets/GenreCharacters/5.avif);
    background-position: top center;
    background-size: cover;
    height: 30vw;
    border-left: 1px solid #022be7;
    border-right: 1px solid #022be7;
    box-sizing: border-box;
    margin-bottom: 1rem;
    min-height: 360px;
    min-width: 170px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.genre-characters6 {
    background-image: url(/assets/GenreCharacters/6.avif);
    background-position: top center;
    background-size: cover;
    height: 30vw;
    border-left: 1px solid #022be7;
    border-right: 1px solid #022be7;
    box-sizing: border-box;
    margin-bottom: 1rem;
    min-height: 360px;
    min-width: 170px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.genre-characters7 {
    background-image: url(/assets/GenreCharacters/7.avif);
    background-position: top center;
    background-size: cover;
    height: 30vw;
    border-left: 1px solid #022be7;
    border-right: 1px solid #022be7;
    box-sizing: border-box;
    margin-bottom: 1rem;
    min-height: 360px;
    min-width: 170px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.genre-characters8 {
    background-image: url(/assets/GenreCharacters/8.avif);
    background-position: top center;
    background-size: cover;
    height: 30vw;
    border-left: 1px solid #022be7;
    border-right: 1px solid #022be7;
    box-sizing: border-box;
    margin-bottom: 1rem;
    min-height: 360px;
    min-width: 170px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.genre-characters9 {
    background-image: url(/assets/GenreCharacters/9.avif);
    background-position: top center;
    background-size: cover;
    height: 30vw;
    border-left: 1px solid #022be7;
    border-right: 1px solid #022be7;
    box-sizing: border-box;
    margin-bottom: 1rem;
    min-height: 360px;
    min-width: 170px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.genre-characters10 {
    background-image: url(/assets/GenreCharacters/10.avif);
    background-position: top center;
    background-size: cover;
    height: 30vw;
    border-left: 1px solid #022be7;
    border-right: 1px solid #022be7;
    box-sizing: border-box;
    margin-bottom: 1rem;
    min-height: 360px;
    min-width: 170px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.genre-characters11 {
    background-image: url(/assets/GenreCharacters/11.avif);
    background-position: top center;
    background-size: cover;
    height: 30vw;
    border-left: 1px solid #022be7;
    border-right: 1px solid #022be7;
    box-sizing: border-box;
    margin-bottom: 1rem;
    min-height: 360px;
    min-width: 170px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.genre-characters12 {
    background-image: url(/assets/GenreCharacters/12.avif);
    background-position: top center;
    background-size: cover;
    height: 30vw;
    border-left: 1px solid #022be7;
    border-right: 1px solid #022be7;
    box-sizing: border-box;
    margin-bottom: 1rem;
    min-height: 360px;
    min-width: 170px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.genre-characters .row .col p {
    color: rgba(231, 231, 231, 0.8);
    font-size: 0.6rem;
    font-weight: 300;
    margin-top: 1em;
    text-transform: uppercase;
    z-index: 1;
    white-space: nowrap;
}

.genre-characters .row .col h4 {
    line-height: 1.35;
    font-weight: 600;
    font-size: 1.25rem;
    z-index: 1;
}

.genre-characters1::after,
.genre-characters2::after,
.genre-characters3::after,
.genre-characters4::after,
.genre-characters5::after,
.genre-characters6::after,
.genre-characters7::after,
.genre-characters8::after,
.genre-characters9::after,
.genre-characters10::after,
.genre-characters11::after,
.genre-characters12::after {
    background-image: linear-gradient(180deg, rgba(2, 43, 231, 0) 30%, rgba(2, 43, 231, 1) 95%);
    content: "";
    height: 100%;
    position: absolute;
    width: 8.3%;
}