body {
    background-color: #120c1d;
    color: white;
}

.fixed-top {
    background-color: rgba(0,0,0,.7);
}

.primeNavButton {
    background-color: rgb(0, 43, 231);
    padding: 10px 24px;
    font-weight: 700;
    line-height: 110%;
    border-radius: 8px;
    border-color: rgb(0, 43, 231);
    font-size: .875rem;
    transition: none 0s ease 0s;
    text-transform: uppercase;
}

.secondaryNavButton {
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    border-radius: 8px;
    padding: 10px 24px;
    transition: none 0s ease 0s;
    text-transform: uppercase;
}

.heroImages {
    min-height: 35vw;
    text-transform: uppercase;
}

.heroImages p, heroImages h3 {
    line-height: 1.1;
    margin: 0;
    text-shadow: 0 0 0.6em #000;
}

.heroImages p {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: .1em;
}

.heroImages h3 {
    font-weight: 700;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .1em;
}

.hero-image1 {
    background-size: cover;
    background-position: center center;
    background-image: url("./assets/LP Hero Images/GOT BG Image.avif");
}

.hero-image2 {
    background-size: cover;
    background-position: center center;
    background-image: url("./assets/LP Hero Images/Barbie BG Image.avif");;
}

.hero-image3 {
    background-size: cover;
    background-position: center center;
    background-image: url("assets/LP Hero Images/BasketBall BG Image.avif");;
}

.hero-title-logo {
    max-width: 200px;
}

.HeroSection {
    position: relative;
    padding-top: 56px;
}

.text-center {
    z-index: 1;
}
.HeroSection::after {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, .7) 25%, rgba(0, 0, 0, 0) 40%);
    bottom: 0;
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 0;
}

.primaryCTA {
    background-color: black;
}

.primaryCTA p {
    font-size: 1.70em;
}

.ctaButton {
    align-self: center;
    font-size: 1rem;
    z-index: 1;
}

#ctaButton2 {
    padding: 13px 24px;
}

.barSplit {
    background-color: black;
    padding: 50px 30px;
}

.barSplitContainer {
    position: relative;
}

.barSplitContainer::after {
    position: absolute;
    bottom: calc(100% - 14vw);
    height: 18vw;
    content: "";
    width: 100%;
    background-size: cover;
    background-image: url(/assets/img.svg);
    background-color: black;
}

.genre h2 {
    z-index: 1;
    font-size: 1.5rem;
}

.genreContainer {
    max-width: 82ch;
}

.genre-characters {
    position: relative;
    z-index: 1;
}