html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-family: Avenir, Helvetica, Arial, sans-serif, system-ui;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }  

  body::before {
    content: '';
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/Users/jessemann/Documents/GitHub/HBO/App/hbo_app/src/assets/Main App BG Image.svg"); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }